---
version: 2.1
jobs:     
  lint:
    docker:
      - image: golangci/golangci-lint:v1.33
    steps:
      - run: echo "Running GolangCI lint"
      - run: ls -la
        #    - run: golangci-lint run -v
workflows:
 lint:
   jobs:
     - lint
...
